<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adventurist</title>
    <link
      rel="shortcut icon"
      href="assets/images/fav-icon.webp"
      type="image/x-icon"
    />

    <!-- Framework Css -->
    <link rel="stylesheet" href="/css/bootstrap-lib/bootstrap.min.css" />
    <!-- Font Awesome / Icon Fonts -->
    <link rel="stylesheet" href="/font-awesome-lib/icon/font-awesome.min.css" />
    <!-- Style Theme -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Responsive Theme -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- slider -->
    <link rel="stylesheet" href="/css/slick.min.css" />
    <!-- AOS Animation  -->
    <link rel="stylesheet" href="/css/aos.css" />
  </head>

  <body>
    <!-- site-wrapper -->
    <div class="site-wrapper">
      <!-- ======== 10.1. Coming Soon/404 section ======== -->
      <section class="page404 pg">
        <div class="row justify-content-center align-items-center m-0">
          <div class="col-lg-6 col-md-7" data-aos="fade">
            <div>
              <h3>404</h3>
              <h4>Page Not Found</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna
                molestie at elementum eu facilisis.
              </p>
              <div class="globalBtnActive mt-4 justify-content-start">
                <ul>
                  <li>
                    <a href="index.html"
                      >Back To Home <span></span><span></span><span></span
                      ><span></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ======== End 10.1. Coming Soon/404 section ======== -->
    </div>
    <!-- end site wrapper -->

    <!-- button back to top -->
    <button onclick="scrollToTop()" id="backToTopBtn" class="btn_hover2">
      <i class="fa-solid fa-arrow-turn-up"></i>
    </button>

    <!-- j Query -->
    <script src="/js/jquery.js"></script>
    <!-- counter -->
    <script src="/js/waypoints.min.js"></script>
    <!-- Framework javascript -->
    <script src="/js/javascript-lib/bootstrap.min.js"></script>
    <!-- slider -->
    <script src="/js/slick.min.js"></script>
    <!-- style javascript -->
    <script src="/js/custom.js"></script>
    <!-- AOS Animation -->
    <script src="/js/aos.js"></script>

    <script>
      // aos animation start
      AOS.init({
        once: true,
        duration: 1000,
      });
      // aos animation end
    </script>
  </body>
</html>
