<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonials</title>
    <link
      rel="shortcut icon"
      href="/images/fav-icon.webp"
      type="image/x-icon"
    />

    <!-- Framework Css -->
    <link rel="stylesheet" href="/css/bootstrap-lib/bootstrap.min.css" />
    <!-- Font Awesome / Icon Fonts -->
    <link rel="stylesheet" href="/font-awesome-lib/icon/font-awesome.min.css" />
    <!-- Style Theme -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Responsive Theme -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- slider -->
    <link rel="stylesheet" href="/css/slick.min.css" />
    <!-- AOS Animation  -->
    <link rel="stylesheet" href="/css/aos.css" />
  </head>

  <body>
    <!-- site-wrapper -->
    <div class="site-wrapper">
      <div class="header-testimonials">
        <!-- ====== 1.1 Header section ====== -->
        <header>
          <nav class="navbar container navbar-expand-lg">
            <div class="container-fluid">
              <!-- logo -->
              <a class="navbar-brand position-relative p-0" href="index.html"
                ><img src="/images/logo.svg" alt="logo" />
              </a>
              <button class="navbar-toggler" id="sidebarEvent" type="button">
                <i class="fa-solid fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse">
                <!-- menu -->
                <ul
                  class="navbar-nav position-relative ms-auto mx-4 mb-2 mb-lg-0 d-flex gap-4 justify-content-center align-items-center"
                >
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item position-relative">
                    <a class="nav-link" href="about.html">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="blog.html">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                    >
                      Pages
                    </a>
                    <ul class="dropdown-menu fade-up">
                      <li>
                        <a class="dropdown-item" href="services.html">
                          Services</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="destinations.html">
                          Destinations
                        </a>
                      </li>
                      <li>
                        <a
                          class="dropdown-item pages-active"
                          href="testimonials.html"
                        >
                          Testimonials
                        </a>
                      </li>

                      <li>
                        <a class="dropdown-item" href="faq.html"> FAQ </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="team.html"> Team </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="comingsoon.html">
                          Coming Soon
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="404.html"> 404 </a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <!-- header button start-->
                <div class="globalBtn">
                  <ul>
                    <li>
                      <a href="#"
                        >Book Now <span></span><span></span><span></span
                        ><span></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- header button end -->
              </div>
            </div>
          </nav>
          <hr class="mb-0 d-lg-block d-none" />
          <!-- sidebar -->
          <aside>
            <div class="sidebar">
              <div class="d-flex justify-content-between align-items-center">
                <!-- sidebar logo -->
                <a href="index.html"
                  ><img src="/images/sidebarLogo.png" alt="logo"
                /></a>
                <button type="button" id="closeBtn" class="btn-close"></button>
              </div>
              <!-- side menu -->
              <ul class="nav-links text-lg-start">
                <li><a href="index.html"> Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
              <div class="more">
                <a href="#">Pages</a>
                <a
                  class="btn btn-outline-primary"
                  data-bs-toggle="collapse"
                  href="#collapseExample"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  <i class="fa-solid fa-plus"></i>
                </a>
              </div>
              <div class="collapse mt-2" id="collapseExample">
                <div class="card card-body">
                  <a href="services.html">Services</a>
                  <a href="destinations.html">Destinations</a>
                  <a href="testimonials.html" class="active">Testimonials</a>
                  <a href="faq.html">FAQ</a>
                  <a href="team.html">Team</a>
                  <a href="404.html">404</a>
                  <a href="comingsoon.html">Coming Soon</a>
                </div>
              </div>
            </div>
          </aside>
        </header>
        <!-- ====== End 1.1 Header section ====== -->

        <!-- ====== 6.1 hero section ====== -->
        <section class="hero">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-11 col-md-12 text-center" data-aos="fade">
                <div>
                  <h2>Testimonials</h2>
                  <div class="d-flex justify-content-center gap-4 pt-4">
                    <nav aria-label="breadcrumb">
                      <div class="breadcrumb d-flex gap-4 align-items-center">
                        <div class="breadcrumb-item">
                          <a href="index.html">Home</a>
                        </div>
                        <i class="fa-solid fa-angles-right"></i>
                        <div class="breadcrumb-item" aria-current="page">
                          Testimonials
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- ====== End 6.1 hero section ====== -->
      </div>

      <!-- ====== 1.12 testimonials section ====== -->
      <section id="testimonials">
        <div class="container">
          <div
            class="row card-text justify-content-md-between justify-content-center gap-md-0 gap-3"
          >
            <div data-aos="fade" data-aos-duration="2000">
              <h4>Testimonials</h4>
              <h2>We're All About Your Satisfaction</h2>
            </div>
            <div
              class="col-md-4 col-sm-8 col-11"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <figure>
                  <img
                    src="/images/testimonial/testimonials-1.png"
                    alt="testimonialsImg"
                  />
                </figure>
                <h6>Raisa Barker</h6>
                <p>Tourist</p>
                <div class="d-flex gap-2 mt-3 mb-4 pb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                </p>
              </div>
            </div>
            <div
              class="col-md-4 col-sm-8 col-11"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <figure>
                  <img
                    src="/images/testimonial/testimonials-2.png"
                    alt="testimonialsImg"
                  />
                </figure>
                <h6>Terrence Baker</h6>
                <p>Tourist</p>
                <div class="d-flex gap-2 mt-3 mb-4 pb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                </p>
              </div>
            </div>
            <div
              class="col-md-4 col-sm-8 col-11"
              data-aos="fade-up"
              data-aos-delay="900"
            >
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <figure>
                  <img
                    src="/images/testimonial/testimonials-3.png"
                    alt="testimonialsImg"
                  />
                </figure>
                <h6>Xiong Lee</h6>
                <p>Tourist</p>
                <div class="d-flex gap-2 mt-3 mb-4 pb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                </p>
              </div>
            </div>
            <div
              class="col-md-4 col-sm-8 col-11 testimonial-card"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <figure>
                  <img
                    src="/images/testimonial/testimonials-4.png"
                    alt="testimonialsImg"
                  />
                </figure>
                <h6>Sara William</h6>
                <p>Tourist</p>
                <div class="d-flex gap-2 mt-3 mb-4 pb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                </p>
              </div>
            </div>
            <div
              class="col-md-4 col-sm-8 col-11 testimonial-card"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <figure>
                  <img
                    src="/images/testimonial/testimonials-5.png"
                    alt="testimonialsImg"
                  />
                </figure>
                <h6>John Doe</h6>
                <p>Tourist</p>
                <div class="d-flex gap-2 mt-3 mb-4 pb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                </p>
              </div>
            </div>
            <div
              class="col-md-4 col-sm-8 col-11 testimonial-card"
              data-aos="fade-up"
              data-aos-delay="900"
            >
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <figure>
                  <img
                    src="/images/testimonial/testimonials-6.png"
                    alt="testimonialsImg"
                  />
                </figure>
                <h6>James Kater</h6>
                <p>Tourist</p>
                <div class="d-flex gap-2 mt-3 mb-4 pb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ====== End 1.12 testimonials section ====== -->

      <!-- ====== 1.13 logoipsum section ====== -->
      <div id="logoipsum">
        <div class="container">
          <div>
            <div
              class="logoipsum-slider d-flex justify-content-between align-items-center"
            >
              <figure>
                <img src="/images/index/logoipsum-1.svg" alt="logoipsumImg" />
              </figure>
              <figure>
                <img src="/images/index/logoipsum-3.svg" alt="logoipsumImg" />
              </figure>
              <figure>
                <img src="/images/index/logoipsum-4.svg" alt="logoipsumImg" />
              </figure>
              <figure>
                <img src="/images/index/logoipsum-5.svg" alt="logoipsumImg" />
              </figure>
              <figure>
                <img src="/images/index/logoipsum-4.svg" alt="logoipsumImg" />
              </figure>
              <figure>
                <img src="/images/index/logoipsum-3.svg" alt="logoipsumImg" />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <!-- ====== End 1.13 logoipsum section ====== -->

      <!-- ====== 1.17 footer section ====== -->
      <footer>
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-2 col-md-3 col-sm-6">
              <div>
                <h4>Quick Links</h4>
                <div class="footer-links d-flex flex-column">
                  <a href="index.html">Home</a>
                  <a href="about.html">About</a>
                  <a href="destinations.html">Destination</a>
                  <a href="contact.html">Contact</a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
              <div>
                <h4>Contact Info</h4>
                <div class="address">
                  <div>
                    <i class="fa-solid fa-house"></i>
                    <p>Plaza X , XY Floor, Street, XYZ</p>
                  </div>
                  <div>
                    <i class="fa-solid fa-envelope"></i>
                    <p>Yourname@Email.Com</p>
                  </div>
                  <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>+123-456-7890</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-md-5">
              <div class="reservation">
                <h4>Make A Reservation</h4>
                <p>
                  Our Support & Sales team is available 24/7 to answer your
                  queries
                </p>
                <div class="globalBtn justify-content-start mt-lg-4 mt-4">
                  <ul>
                    <li>
                      <a href="contact.html"
                        >Book Now <span></span><span></span><span></span
                        ><span></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <hr />
            <div
              class="row sub-footer justify-content-between align-items-center"
            >
              <div class="col-md-5">
                <figure>
                  <a href="#"
                    ><img src="/images/logo.svg" alt="footerLogo"
                  /></a>
                </figure>
              </div>
              <div class="col-md-6">
                <div>
                  <p>
                    Copyright © 2023 Adventurist By Evonicmedia. All Rights
                    Reserved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- ====== End 1.17 footer section ====== -->
    </div>
    <!-- end site wrapper -->

    <!-- button back to top -->
    <button onclick="scrollToTop()" id="backToTopBtn" class="btn_hover2">
      <i class="fa-solid fa-arrow-turn-up"></i>
    </button>

    <!-- j Query -->
    <script src="/js/jquery.js"></script>
    <!-- counter -->
    <script src="/js/waypoints.min.js"></script>
    <!-- Framework javascript -->
    <script src="/js/javascript-lib/bootstrap.min.js"></script>
    <!-- slider -->
    <script src="/js/slick.min.js"></script>
    <!-- style javascript -->
    <script src="/js/custom.js"></script>
    <!-- AOS Animation -->
    <script src="/js/aos.js"></script>

    <script>
      // aos animation start
      AOS.init({
        once: true,
        duration: 1000,
      });
      // aos animation end
    </script>
  </body>
</html>
